@import url("../../styles/style.css");
@import url("../../styles/reset.css");
@import url("../../styles/header.css");
@import url("../../styles/variables.css");
@import url("../../styles/adaptive.css");
header{
    background-color: var(--secondary-color);
    position: relative;
}
.head-wrapper{
    padding-top: 15px !important;
    padding-bottom: 15px !important;;
}