{% extends '../base.html' %}
{% block head %} 
{% load static %}

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog</title>
    <link rel="stylesheet" href="{% static 'blog_page/styles/style.css' %}">

{% endblock head%}

{% block content %}
    <div id="fb-root"></div>
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v18.0" nonce="b4ffuYp5"></script>    <section class="blog">
        <div class="section-wrap">
            <div class="inner-wrap">
                <div class="blog-title black-text">
                    <span class="d-block">
                        Beautiful Italy<br>
                        Let’s travel
                    </span>
                </div>
                <div class = "blog-image-block backgr-position">	
                            
                </div>
                <div class="blog-post-wrap d-flex">
                    <div class="blog-text d-flex flex-column">
                        <span class = "blog-description d-block black-text normal-text">
                            Italy, a land where history, art, and natural beauty intertwine, beckons travelers with its timeless charm. From the rolling hills of Tuscany to the ancient ruins of Rome, each corner of this Mediterranean jewel tells a story of a rich and diverse cultural tapestry.
                            <br>
                            A Symphony of Flavors:
                            Italy is synonymous with exquisite cuisine, and exploring its culinary delights is a journey in itself. Indulge your senses with the tantalizing aromas of freshly brewed espresso, the delicate flavors of handmade pasta in Bologna, or the rich, creamy gelato under the Tuscan sun. Each region boasts its own culinary identity, making Italy a haven for food enthusiasts.
                            <br>
                            Artistic Marvels:
                            Italy is a living museum, and every step feels like a brushstroke in an artistic masterpiece. Rome, the eternal city, showcases the grandeur of the Colosseum and the magnificence of the Vatican City. Florence, the birthplace of the Renaissance, invites you to stroll through the Uffizi Gallery, where works by Michelangelo, Leonardo da Vinci, and Botticelli come to life.
                            <br>
                            Enchanting Landscapes:
                            Nature unfolds in a breathtaking display across Italy's landscapes. The serene waters of the Amalfi Coast, with its pastel-hued villages clinging to the cliffs, create a picturesque scene. The romantic allure of Venice, where canals replace streets, is a testament to human ingenuity and the beauty that arises from it.
                            <br>
                            Cultural Heritage:
                            Italy's cultural heritage is deeply embedded in its daily life. From the passionate operas in Verona to the lively street festivals in Palermo, you'll find a nation that celebrates its traditions with pride. The ruins of Pompeii whisper tales of ancient civilizations, and the leaning tower of Pisa stands as a testament to architectural marvels.
                            <br>
                            Warmth of the People:
                            Beyond the monuments and landscapes, it's the warmth of the Italian people that leaves an indelible mark. Engage in friendly banter at a local café, savor the joy of a family gathering in a trattoria, and embrace the spirit of "La Dolce Vita" – the sweet life that Italians hold dear.
                            <br>
                            In Italy, every moment is an opportunity to immerse yourself in the art of living. It's a destination that captivates not just with its iconic landmarks but also with the intangible magic that lingers in the air – a magic that transcends time and resonates through the ages. Italy invites you to be a part of its story, to unravel its secrets, and to fall under the spell of its unparalleled beauty. Whether you're a history buff, a foodie, or a seeker of breathtaking vistas, Italy promises an enriching journey that will linger in your heart forever.                        </span>
                    </div>
                </div>
                <details>
                    <summary class="title-small black-text">Comments</summary>
                    <div class="fb-comments" data-href="https://kursova-production-0300.up.railway.app/blog/" data-width="100%" data-numposts="5"></div>
                </details>
            </div>
        </div>
    </section>

    {% endblock content%}
    
    {% block scripts %}
    <script src="{% static 'blog_page/scripts/comment_collapse.js' %}"></script>
    {% endblock scripts %}
